#navbar-top{
    
}

.body{
    padding: 5%;
}

#main-body {
    
}

#content-area {
    
}

.content {
    display: block;
    margin: 100px auto;
    width: 50%;
}


.image {
    display: block;
    margin: 10px auto;
    width: 50%;
}

#search-form{
    
}

.button {
       
}

.div-button {
    padding: 5%;
}

#footer {

}